<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.company.login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Po-Mi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".JoinActivity" />
        <activity android:name=".FindActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".MemberPageActivity" />
        <activity android:name=".WebView_busan1" />
        <activity android:name=".WebView_busan2" />
        <activity android:name=".WebView_incheon1" />
        <activity android:name=".WebView_incheon2" />
        <activity android:name=".WebView_portmis" />
        <activity android:name=".WebView_ulsan" />
        <activity android:name=".WebView_yeosu1" />
        <activity android:name=".WebView_yeosu2" />
    </application>

</manifest>